In [4]:
import nltk
import pandas as pd
import re
from sklearn.feature_extraction.text import CountVectorizer
import string
  
 

data = pd.read_csv("../../Data/SMSSpamCollection.txt", sep='\t', header=None)
data.columns = ['label', 'Content']

en_stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer()

In [5]:
data

     label                                            Content
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

<h3>Now we are goining to crete a variable witch contains the length of the mail content</h3>

In [7]:
data['Content_len'] = data['Content'].apply(lambda x: len(x) - x.count(" "))

In [8]:
data.head()

  label                                            Content  Content_len
0   ham  Go until jurong point, crazy.. Available only ...           92
1   ham                      Ok lar... Joking wif u oni...           24
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          128
3   ham  U dun say so early hor... U c already then say...           39
4   ham  Nah I don't think he goes to usf, he lives aro...           49

<h3>Now we are goining to crete a function witch return the punctuation rate of email's content</h3>

In [9]:
def punctuation_rate(text):
    nb_punctuation = sum([1 for ch in text if ch in string.punctuation])
    text_size = len(text) - text.count(" ") # la longueur d'email sans les espaces
    return round(nb_punctuation/(text_size),4)*100

In [10]:
data['punctuation_rate'] = data['Content'].apply(lambda x:punctuation_rate(x) )

In [11]:
data.head()

,label,Content,Content_len,punctuation_rate
0,ham,"Go until jurong point, crazy.. Available only ...",92,9.78
1,ham,Ok lar... Joking wif u oni...,24,25.00
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,128,4.69
3,ham,U dun say so early hor... U c already then say...,39,15.38
4,ham,"Nah I don't think he goes to usf, he lives aro...",49,4.08

<h3>Now we are goining to crete a function witch return the cleaning Content i.e without stopwords and ...</h3>

In [12]:
def clean_email(text):
    result  = "".join([word for word in text if word not in string.punctuation ])
    splited = re.split('W+',result)
    final = [ps.stem(word) for word in splited if word not in en_stopwords ]
    return final

In [16]:
vectorization_full = CountVectorizer(analyzer=clean_email)
vect_final = vectorization_full.fit_transform(data['Content'])

In [17]:
all_data = pd.concat([pd.DataFrame(vect_final.toarray()), data['Content_len'], data['punctuation_rate']],axis=1)

In [18]:
all_data

,0,1,2,3,4,5,6,7,8,9,...,5875,5876,5877,5878,5879,5880,5881,5882,Content_len,punctuation_rate
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,92,9.78
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,24,25.00
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,128,4.69
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,39,15.38
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,49,4.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,131,6.11
5568,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29,3.45
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,48,14.58
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,100,1.00
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21,4.76

<h3>Fiting the model SVM</h3>

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support

In [22]:
X_train, X_test, y_train, y_test = train_test_split(all_data,data['label'],test_size=0.2)

In [25]:
from sklearn import svm

In [26]:
alg_svm = svm.SVC(kernel='linear')

In [ ]:
alg_svm.fit(X_train,y_)